
<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>Contact Me</h1>
    <p > My name is Kiril Mankovskyi </br> I am Computer programmer student at Georgian college </br> And my hobbie is taking pictures of eyes </bt> <a href="https://www.instagram.com/eye_iris.ca/" style=" color: red"> and here is my instagram  </a> </p>
  </header>

  <div class="container-form">
   
      <form >
       
          
          <p>Please fill this form with a message. I will get back in 24 hours.</br>(No I won't, it's not working of course)</p>
          
          <input type="text" placeholder="Name" required autofocus>
          <input type="email" placeholder="Email" required>
          <input type="tel" placeholder="Mobile Number" required>
          <textarea placeholder="Message" required></textarea>
          <input type="submit" value="Submit">
      </form>
  </div>

 
</div>

<%- include('../partials/footer') %> 