<%- include ('../partials/header') %>
<link href="../../assets/css/styles.css"  rel="stylesheet">
<div class="container my-5">
<header class="home-cta jumbotron">
  <h1>Welcome Home to My Blog</h1>
</header>

  <div>
      <p> This is the beggining</p>
  </div>
</div>
<%- include ('../partials/footer') %>